.contact {
    margin-top: 7vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* transition */
    opacity: 0;
    transform: translateY(150px) scale(0.9);
    transition: 0.3s ease-out;
}

.contact.in-view {
    /* fin de transition */
    opacity: 1;
    transform: translateY(0) scale(1);
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sendButton {
    color: #FBFBFB;
    background-color: #c74038;
    border-radius: 0;
    height: auto;
    margin: 0;
    margin-top: -.5rem;
}

.sendButton:hover {
    filter: brightness(110%);
}


/* ------------ 1024px ------------ */
/* ------------ 1024px ------------ */
@media (max-width: 1024px) { 
    .contact {
        margin-top: 3vh;
    }
    
}


/* ------------ 768px ------------ */
/* ------------ 768px ------------ */
@media (max-width: 768px) { 
    .contact {
        margin-top: 5vh;
    }
}