.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sendButton {
    width: 5rem;
    color: #FBFBFB;
    background-color: #c74038;
    border-radius: 0;
    height: auto;
}