header {
  top: 0;
  width: 100%;
  position: fixed;
   margin: 0 auto;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBFBFB;
  height: 7rem;
}

.logo {
  height: 64px;
  width: auto;
}

nav {
  font-size: 1.2rem;
  font-weight: 500;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-nav {
  display: flex;
  align-items: center;
}

.left-nav a {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

nav a {
  color: #c74038;
  text-decoration: none;
}

nav span {
  color: #c74038;
  text-decoration: none;

}

nav a:hover {
  text-decoration: underline;
}


.icon-download {
  color: #c74038;
  font-size: 24px;
  margin-right: 8px;
  transition: color 0.3s ease;
}

.right-nav {
  cursor: pointer;
}

.right-nav:hover {
  text-decoration: underline;
  color: #c74038;
}


/* ------------ 1024px ------------ */
/* ------------ 1024px ------------ */
@media (max-width: 1024px) {

  .logo {
    height: 56px;
    width: auto;
  }
  
  .icon-download {
    font-size: 20px;
  }
  
}


/* ------------ 768px ------------ */
/* ------------ 768px ------------ */
@media (max-width: 768px) {

  nav {
    font-size: 1.1rem;
    font-weight: 500;
    width: 85vw;
  }

  .logo {
    height: 48px;
    width: auto;
  }

  .icon-download {
    font-size: 16px;
  }
}

/* ------------ 580px ------------ */
/* ------------ 580px ------------ */
@media (max-width: 580px) {

  .right-nav span {
    display: none;
  }

  .icon-download {
    font-size: 20px;
    margin-bottom: 3px;
  }
}

/* ------------ 480px ------------ */
/* ------------ 480px ------------ */
@media (max-width: 480px) {

  .left-nav a {
    display: none;
  }

  .right-nav {
    display: flex;
  }
  .right-nav span {
    display: flex;
  }

  nav {
    font-size: 1.2rem;
    width: 85vw;
  }

  .logo {
    height: 52px;
    width: auto;
  }

  .icon-download {
    font-size: 20px;
    margin-bottom: 3px;
  }
}