.waveeImg {
    width: 45vw;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease;
}

.projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;

    scroll-padding-left: 50vw;
    scroll-padding-right: 50vw;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slides::-webkit-scrollbar {
    display: none;
}

.slideTop {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* état initial */
    opacity: 0;
    transform: translateX(90px);
    transition: all 0.4s ease;
}

.slideTop.in-view {

    /* état final */
    opacity: 1;
    transform: translateX(0);
}

.slide p {
    margin: 0rem;
    font-size: 1.8rem;
    color: #c73f38;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.slide h3 {
    margin: 0rem;
    font-size: 2.5rem;
    color: #c73f38;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.lastSlide {
    flex: 0 0 80%;
}

.lastSlide .slide {
    width: 75%;
}

.slideEmpty {
    flex: 0 0 25%;
    background-color: white;
}
.slide {
    flex: 0 0 60%;
    height: 85%;
    scroll-snap-align: center;
    margin: 0 1rem;
    background-color: #fff0f0;
    border-radius: 2rem;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s ease;
}

.slide4 {
    flex: 0 0 60%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0vw;
    height: calc(85% + 4vw);
}

.slideTop4 {
    margin: 2rem;
}

.slideRight {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0;
}
.iphones {
    width: 100%;
    height: 95%;
    object-fit: contain;
}
.slide1 {
    margin-left: 20%;
}

.slide a {
    margin-top: 1rem;
    text-decoration: none;
    text-decoration: underline;
    color: #c73f38;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.03em;
    transition: 0.3s ease;  
}

.projects h2 {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease;
}

.projects h2.in-view {
    opacity: 1;
    transform: translateY(0);
}

.slide2 .waveeImg  {
    width: 35vw;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease;
}
.slideTop p {
    text-align: left;
}

.logos {
    margin-top: 1rem;
}
.logosImg {
    height: 6rem;
    width: 6rem;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.slide3Img {
    height: 5rem;
    width: auto;
    border-radius: 1.4rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.slideBottom {
    margin-top: 3rem;
    width: 100%;
    display: flex;
}

.slide3 {
    position: relative;
    padding: 0;
    height: calc(85% + 4vw);
}

.slideTop3 {
    margin: 2rem;
    width: 60%;
    align-self: self-start;
}


.backgroundImgContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
}
.backgroundImg {
    width: 90%;
    height: 80%;
    object-fit: cover;
    margin: 0;
}